.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  
  .modal button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #45a049;
  }


  /* Style for the dropdown menu */
.subject-dropdown {
    padding: 10px;
    font-size: 1rem;
    margin: 20px 0;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .subject-dropdown:focus {
    outline: none;
    border-color: #007bff;
  }