/* CSS for DataStructure Page */

.right-side{
    margin-left: 10px;
    margin-right: 10px;
}

.navigation-buttons {
    width: 90%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  
  .previous-button,
  .next-button {
    background-color: #BD921B;
    color: rgb(0, 0, 0);
    font-weight: 600;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.383);
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    transition: background-color 0.3s;
  }
  
  .previous-button:hover,
  .next-button:hover {
    background-color: #0056b3;
    color: white;
  }


  p{
    font-size: 20px;
  }
  ul li{
    font-size: 18px;
  }


  /* CSS For Primitive Data Types page */

  .DataStructureImage{
    width: 90%;
    margin-top: 30px;
    margin-left: 20px;

  }

  /* Css for Images in Array, LL, Queue, Stack */
 .right-side .image_array{
  margin-left: 300px;
  height: 200px;
  
    
  }
  .right-side .image_stack{
    margin-left: 400px;
    height: 500px;
    
      
    }
    .right-side .image_queue{
      margin-left: 200px;
      height: 300px;
    }
    .right-side .image_ll{
      margin-left: 300px;
      height: 600px;
    }