/* AdminDashboard.css */
.admin-dashboard-container {
    display: flex;
    min-height: 100vh;
    max-width: 100%;
  }
  

 
  .main-content {
    margin-left: 20%; /* Offset for the sidebar */
    padding: 20px;
    width: 80%;
  }
  
  .main-content h1 {
    font-size: 32px;
    color: #2C3E50;
  }
  
  .main-content p {
    font-size: 18px;
    color: #7F8C8D;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .admin-dashboard-container {
      flex-direction: column;
    }
    
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    
    .main-content {
      margin-left: 0;
      padding: 10px;
    }
    
    .sidebar-menu {
      display: flex;
      justify-content: space-evenly;
    }
    
    .sidebar-link {
      padding: 15px;
      font-size: 18px;
    }
  }