/* Sidebar.css */
.sidebar {
    background-color: #34495e;
    color: white;
    width: 20%;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transition: width 0.3s ease;
  }
  
  .sidebar-header {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 30px;
  }
  

  .sidebar-menu li {
    font-size: 18px;
    margin: 20px 0;
    display: flex;
    color: white;
    align-items: center;
    position: relative;
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  .sidebar-link:hover {
    background-color: #1abc9c;
  }
  
  .sidebar-icon {
    margin-right: 25px;
    font-size: 24px;
  }
  
  .sidebar-text {
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .sidebar-link:hover .sidebar-text {
    opacity: .9;
    visibility: visible;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .sidebar {
      width: 60px;
      transition: width 0.3s ease;
    }
  
    .sidebar-menu li {
      justify-content: center;
    }
  
    .sidebar-link {
      padding: 15px;
      justify-content: center;
    }
  
    .sidebar-text {
      display: none;
    }
  
    .sidebar:hover {
      width: 220px;
    }
  
    .sidebar-link:hover .sidebar-text {
      opacity: 1;
      visibility: visible;
    }
  }