.sidebar{
    height: 85vh;
    padding-top:10px ;
    background-color: #f2ce6c7e;
    padding-inline: 20px;
    width: 20%;
  padding: 15px;
  box-sizing: border-box;
  border-right: 2px solid #ddd;
  overflow: scroll; /* Prevent scrolling */

}
.sidebar ul li{
    text-decoration: none;
    font-size: 18px;
    
    
}

  .sidebar ul {
    list-style-type: none;
   
  }
  
  .sidebar > ul > li {
    padding: 8px 0;
  }
 
 

  .sidebar a {
    text-decoration: none;
    color: #333;
  }
  
  .sidebar a:hover {
    color: red;
}

/* Sidebar.css */
.sidebar ul li a {
  color: black;
  text-decoration: none;
}

.sidebar ul li a.active {
  color: red;
}